# Cleaning and Organizing data extracted from bitcoin cotatio

Importing the necessary libraries for data cleaning and organization

In [25]:
import pandas as pd

# Getting the dataset
First of all I extracted the data from the link below in a csv file, was the easiest source I have found to collect the Bitcoin quotation, doesn't need use a API or write any type of code.

https://finance.yahoo.com/quote/BTC-USD/history?period1=1410739200&period2=1634515200&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true

In [26]:
bitcoin_dataset = pd.read_csv("/content/drive/MyDrive/DI - Analise Bitcoin - GPU/4. Execução/0. Dados Coletados/BTC-USD.csv")

In [27]:
bitcoin_dataset

            Date          Open  ...     Adj Close        Volume
0     2014-09-17    465.864014  ...    457.334015  2.105680e+07
1     2014-09-18    456.859985  ...    424.440002  3.448320e+07
2     2014-09-19    424.102997  ...    394.795990  3.791970e+07
3     2014-09-20    394.673004  ...    408.903992  3.686360e+07
4     2014-09-21    408.084991  ...    398.821014  2.658010e+07
...          ...           ...  ...           ...           ...
2584  2021-10-14  57372.832031  ...  57321.523438  3.661579e+10
2585  2021-10-15  57345.902344  ...  61593.949219  5.178008e+10
2586  2021-10-16  61609.527344  ...  60892.179688  3.425096e+10
2587  2021-10-17  60887.652344  ...  61553.617188  2.903237e+10
2588  2021-10-18  61548.804688  ...  62026.078125  3.805556e+10

[2589 rows x 7 columns]

# Adjusting the Date Column
As we see on the cell below the date column is of the type object and not date as we expected

In [28]:
bitcoin_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589 entries, 0 to 2588
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2589 non-null   object
 1   Open       2585 non-null   float64
 2   High       2585 non-null   float64
 3   Low        2585 non-null   float64
 4   Close      2585 non-null   float64
 5   Adj Close  2585 non-null   float64
 6   Volume     2585 non-null   float64
dtypes: float64(6), object(1)
memory usage: 141.7+ KB

Converting the date column to datetime type

In [29]:
bitcoin_dataset['Date'] = bitcoin_dataset['Date'].astype('datetime64[ns]')

In [30]:
bitcoin_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589 entries, 0 to 2588
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2589 non-null   datetime64[ns]
 1   Open       2585 non-null   float64
 2   High       2585 non-null   float64
 3   Low        2585 non-null   float64
 4   Close      2585 non-null   float64
 5   Adj Close  2585 non-null   float64
 6   Volume     2585 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 141.7 KB

It is also necessary to change the order in which the structure was arranged so that the a is from the most recent date to the oldest.

In [31]:
bitcoin_dataset = bitcoin_dataset[::-1].reset_index(drop = True)  # reset_index ajust to the index doesn't reverse
bitcoin_dataset

           Date          Open  ...     Adj Close        Volume
0    2021-10-18  61548.804688  ...  62026.078125  3.805556e+10
1    2021-10-17  60887.652344  ...  61553.617188  2.903237e+10
2    2021-10-16  61609.527344  ...  60892.179688  3.425096e+10
3    2021-10-15  57345.902344  ...  61593.949219  5.178008e+10
4    2021-10-14  57372.832031  ...  57321.523438  3.661579e+10
...         ...           ...  ...           ...           ...
2584 2014-09-21    408.084991  ...    398.821014  2.658010e+07
2585 2014-09-20    394.673004  ...    408.903992  3.686360e+07
2586 2014-09-19    424.102997  ...    394.795990  3.791970e+07
2587 2014-09-18    456.859985  ...    424.440002  3.448320e+07
2588 2014-09-17    465.864014  ...    457.334015  2.105680e+07

[2589 rows x 7 columns]

# Selecting columns
Selecting the columns that will be used on the project

In [52]:
selected_columns = [
                    'Date',
                    'Close'
]

new_name = {
    'Close':'Price'
}

bitcoin_dataset = bitcoin_dataset[selected_columns]
bitcoin_dataset.rename(columns=new_name, inplace=True)

In [53]:
bitcoin_dataset

           Date         Price
0    2021-10-18  62026.078125
1    2021-10-17  61553.617188
2    2021-10-16  60892.179688
3    2021-10-15  61593.949219
4    2021-10-14  57321.523438
...         ...           ...
2584 2014-09-21    398.821014
2585 2014-09-20    408.903992
2586 2014-09-19    394.795990
2587 2014-09-18    424.440002
2588 2014-09-17    457.334015

[2589 rows x 2 columns]